<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<main class="container">

    <!--Add Ticket Form-->
    <form method="post">
        <div class="container col-md-3"></div>
        <div class="container col-md-6">
            <!--TItle-->
            <h1>Generate New Ticket</h1>
            <!--Ticket Number-->
            <div class="row">
                <div class="col-xs-5">
                    <label class="form-control" for="ticketNum">Ticket Number</label>
                </div>
                <div class="col-xs-7">
                    <input class="form-control" name="ticketNum" readonly required value="<%= Date.now() %>" />
                    <input name="ticketLastUpdate" hidden readonly required value="<%= Date.now() %>" />
                    <input name="ticketCreated" hidden readonly required value="<%= Date.now() %>" />
                </div>
            </div>
            <!--Ticket Owner-->
            <div class="row">
                <div class="col-xs-5">
                    <label class="form-control" for="ticketOwner">Owner Name</label>
                </div>
                <div class="col-xs-7">
                    <input class="form-control" type="text" name="ticketOwner" value="Tyler Cadeau" id="n1" onkeyup="sync()">
                </div>
            </div>
            <!--Ticket Status -->
            <div class="row">
                <div class="col-xs-5">
                    <label class="form-control" for="radioCheck">Ticket Status</label>
                </div>
                <div class="col-xs-7">
                    <input class="form-control" type="text" name="ticketStatus" id="n1" readonly value="New">
                </div>
            </div>
            <!--Affected Users-->
            <div class="row">
                <div class="col-xs-5">
                    <label class="form-control" for="radioCheck">Affected User</label>
                </div>
                <div class="col-xs-7">
                    <input class="form-control" type="text" required name="ticketUser" value="Jane Doe">
                </div>
            </div>
            <!--User Contact-->
            <div class="row">
                <div class="col-xs-5">
                    <label class="form-control" for="radioCheck">Contact Email</label>
                </div>
                <div class="col-xs-7">
                    <input class="form-control" type="email" required name="ticketUserContact" value="Jane@Doe.com">
                </div>
            </div>
            <!--Priority Level-->
            <div class="row">
                <div class="col-xs-5">
                    <label class="form-control" for="radioCheck">Priority Level</label>
                </div>
                <div class="col-xs-7">
                    <select class="form-control" name="ticketPriority" id="n3">
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                    </select>
                </div>
            </div>
            <!--Ticket Description-->
            <div class="row">
                <div class="col-xs-12">
                    <label class="form-control" for="ticketDesc">Ticket Description</label>
                </div>
                <div class="col-xs-12">
                    <textarea class="form-control" name="ticketDesc" required value="None" onkeyup="sync()"></textarea>
                </div>
            </div>
            <!--Script for generating Incident Narrative-->
            <script>
                function sync() {
                    var n1 = document.getElementById('n1');
                    var n2 = document.getElementById('n2');
                    var n3 = document.getElementById('n3');
                    //Incident narrative = CurrentDate + Status + Owner + Change
                    n2.value = Date.now() + '/' + 'New' + '/' + n3.value + '/' + n1.value + '/' + 'Created' + '/';
                }
            </script>
            <input hidden type="text" name="ticketLife" id="n2" />
            
            <!--SubmitButton-->
            <br>
            <button type="submit" class="btn btn-primary btn-lg btn-block btn btn-success">Submit</button>
        </div>
    </form>
</main>
<% include ../partials/footer.ejs %>